
<div class="bg">
    <div>...</div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                 {% include 'components/Login.html' %}

            </div>
        </div>
    </div>

    <center><h1 class="title slogan"> smart irrigation </h1></center>




</div>

<div style="height:1000px; font-size:36px">
<div class="container">
 <article class="tile is-child " id="section_howitworks">
     <p class="title is-1 ">Comment ça marche ?</p>
<hr class="divider light my-3">

     <figure class="image">
         {% load static %}
  <img src='{% static "irrigaia_schema.svg" %}' >
          </figure></li>
            </article>
<hr class="divider light my-3">

    <article class="tile is-child " id="Advantages">
     <p class="title is-1 ">Avantages</p>
<hr class="divider light my-3">
        Des euros , des heureux , ..
     </li>
            </article>
    <hr class="divider light my-3">
    <article class="tile is-child " id="Services">
     <p class="title is-1 ">Services</p>
<hr class="divider light my-3">
        Du service , a la pelle !
     </li>
            </article>
    <hr class="divider light my-3">
    <article class="tile is-child " id="About">
     <p class="title is-1 ">A Propos</p>
<hr class="divider light my-3">
        A Propos !
     </li>
            </article>
    <hr class="divider light my-3">
</div>

<div class="bg"></div>

