<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">


    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#">
                <!-- {% load static %}
               <img src='{% static "logo_irrigaia_3.png" %}' width="256" height="256" alt="Bulma"> -->
                <h1 class="title is-1">irrigaia</h1>
               <!-- -- @Todo: Define irrigaia Logo -->
            </a>
        </div>
         <div class="navbar-end">
            <a class="navbar-item" href="#section_howitworks">
                <h1 class="title is-6">Comment ça marche?</h1>
            </a>
            <a class="navbar-item" href="#Advantages">
                <h1 class="title is-6">Avantages</h1>
            </a>
            <a class="navbar-item" href="#Services">
                <h1 class="title is-6">Services</h1>
            </a>
            <a class="navbar-item" href="#Contact">
                <h1 class="title is-6">Contact</h1>
            </a>
            <a class="navbar-item" href="#About">
                <h1 class="title is-6">A Propos</h1>
            </a>
        </div>


    </div>
</nav>
